body {
	
	}
#fortaleza{
	Width:100%;
}


.principal{
	background: #cccccc;
}


h1{
	text-align: center;
}

p{
	text-align: center;
}
strong em {
	color: #0000ff;
}

.itens{
	font-size: italic
}

.download.jpg{
	background: #ffffff;
	padding: 20px;
}

h2{
	text-align: center;
}

ul{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}
.imagemdownload{
	width: 50%;
}